{% extends 'layout.html' %}
{% load static %}
{% block body %}



    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
      <div class="container text-center py-5" style="max-width: 900px;">
          <h4 class="text-white display-4 mb-4 wow animate__animated animate__fadeInDown" data-wow-delay="0.1s"style="font-weight: bolder;">About Us</h4>
          <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active text-danger">About</li>
          </ol>
      </div>
  </div>
  <!-- Header End -->

  <!-- Initialize WOW.js -->
  <script>
      new WOW().init(); // Initialize WOW.js
  </script>


<!-- About Section -->
<section id="about" class="about section" style="background-color: rgb(243, 246, 248);">
  <!-- <div class="card" style="padding: 40px; margin-left: 100px; margin-right: 100px; background-color: rgb(239, 242, 245);"> -->

    <div class=" text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;" data-aos="fade-up">
      <h1 class="display-5 text-capitalize mb-3">
        <span style="color: black; font-weight: bold;">About</span>
        <span style="color: red;font-weight: bold;">Us</span>
      </h1>
      <p class="mb-0">
        We are ApartmateMe, a team of individuals working hard to ensure that people are able to get their dream houses at the comfort of their gadgets. 
      </p>
    </div> 


    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="a{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Your service is our command.</h3>
          <p class="fst-italic">
            Launching in 2025 we are determined to ensure you get the best houses for your stay in Ongata Rongai , be it for renting or for a shop or for purchase , all these we tend to work to our best to put them to your disposal.
          </p>
          <ul>
            <li><i class="bi bi-check-circle"></i> <span>We offer house hunting services, making it no longer a hunt , but a delivery.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>Laundry services will be up  soon so stay in touch with our website.</span></li>
            <li><i class="bi bi-check-circle"></i> <span>We put your views and comments to implementation because we believe ApartMateMe is for us. "I am because we are"</span></li>
          </ul>
          <br>
          <p>Willing to Donate to the ApartmateMe Project then:</p>
          <br>
          <!-- <a href="#" class="read-more"><span>Donate</span><i class="bi bi-arrow-right"></i></a> -->
          <!-- <a href="#" class="mpesa-donation" id="donateBtn"><span>Donate</span></a> -->

          <a href="{% url 'donate' %}" class="mpesa-donation" id="donateBtn"><span>Donate</span></a>

          <!-- Modal -->
          <div id="donateModal" class="donatemodal">
            <div class="donatemodal-content">
              <span class="close" id="closeBtn">&times;</span>
             <h2><b>DONATE</b></h2>
          
              <form action="stk_push/" method="post">
                {% csrf_token %}
                <input type="text" name="phone_number" placeholder="Enter number: 254..."> <br><br>
                <input type="number" name="amount" placeholder="Enter amount to donate"><br><br>
                <input type="submit" value="Donate">
              </form>
            </div>
          </div>
          
          
          <script>
            // Get modal and button
            var modal = document.getElementById("donateModal");
            var btn = document.getElementById("donateBtn");
            var span = document.getElementById("closeBtn");
          
            // Initially hide the modal by ensuring its display is set to "none"
            modal.style.display = "none"; 
          
            // When the user clicks on the donate button, open the modal
            btn.onclick = function(event) {
              event.preventDefault();  // Prevent the link from navigating to the homepage
              modal.style.display = "flex";  // Show the modal
            }
          
            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";  // Hide the modal
            }
          
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";  // Hide the modal
              }
            }
          </script>
          
   
              
            </div>
        </div>

      </div>

    </div>
  </section><!-- /About Section -->


{% endblock %}