{% extends 'layout.html' %}
{% load static %}
{% block body %}


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-2" style="max-width: 900px;">
      <h4 class="text-white display-4 mb-4 wow animate__animated animate__fadeInDown" data-wow-delay="0.1s" style="font-weight: bolder;">
          Home Owners' Login
      </h4>
      <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active text-danger">Login</li>
      </ol>
  </div>
</div>
<!-- Header End -->

<!-- Initialize WOW.js -->
<script>
  new WOW().init(); // Initialize WOW.js
</script>

<section class="vh-100 bg-image" style="background-color: rgb(243, 246, 248);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                  <div class="card" style="border-radius: 15px;">
                      <div class="card-body p-5">
                          <h2 class="text-uppercase text-center mb-5">Login</h2>

                          <!-- Display error message if present -->
                          {% if error_message %}
                          <div class="alert alert-danger">
                              {{ error_message|safe }}
                          </div>
                          {% endif %}
                          <!-- End messages display -->

                          <form method="post" action="{% url 'login' %}">
                              {% csrf_token %}

                              <!-- Email Field -->
                              <div data-mdb-input-init class="form-outline mb-4">
                                  <input 
                                      type="email" 
                                      name="email" 
                                      id="form3Example3cg" 
                                      class="form-control form-control-lg" 
                                      value="{{ email|default:'' }}" 
                                     
                                      required
                                  />
                                  <label class="form-label" for="form3Example3cg">Your Email</label>
                              </div>

                              <!-- Password Field -->
                              <div data-mdb-input-init class="form-outline mb-4">
                                  <input 
                                      type="password" 
                                      name="password" 
                                      id="form3Example4cg" 
                                      class="form-control form-control-lg" 
                                      
                                      required
                                  />
                                  <label class="form-label" for="form3Example4cg">Password</label>
                              </div>

                              <!-- Submit Button -->
                              <div class="d-flex justify-content-center">
                                  <button 
                                      type="submit" 
                                      data-mdb-button-init 
                                      data-mdb-ripple-init 
                                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                      Login
                                  </button>
                              </div>

                              <!-- Registration Link -->
                              <p class="text-center text-muted mt-5 mb-0">
                                  Don't have an account? 
                                  <a href="{% url 'register' %}" style="color: green;">Register here</a>
                              </p>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock %}